.backdrop {
  width: 100vw;
  height: 100vh;
  position: absolute;

  background-color: rgb(37, 37, 37);
  z-index: -1;
}

.content {
  align-self: center;
  margin: auto;

  padding: .5rem;
  background-color: rgb(13, 13, 13);
  border-radius: .5rem;

  box-shadow: 0px 0px 3px .1px rgba(255, 255, 255, 0.5);

  width: 50vw;
}

.content h1 {
  color: gray;

  text-align: center;
}

.content p {
  color: gray;

  margin-top: .4rem;
  margin-bottom: .4rem;
}

.content input {
  all: unset;

  box-sizing: border-box;
  width: 100%;
  height: 1.5rem;

  background-color: rgb(37, 37, 37);
  border-radius: .5rem;
  border: none;

  box-shadow: 0px 0px 3px .1px rgba(255, 255, 255, 0.5);

  color: rgba(255, 255, 255, 0.8);
  padding-left: .4rem;
  padding-right: .4rem;
}

.content button {
  margin-top: 1rem;

  float: right;
  background-color: rgb(28, 65, 216);
  border: none;
  border-radius: .5rem;
  padding: .5rem;

  box-shadow: 0px 0px 3px 1px rgba(28, 65, 216, 0.5);
}

.App {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;

  font-family: sans-serif;
}